################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/
/serve/.vs/
/serve/ServerDemo/.vs/
/serve/ServerDemo/Debug/

